*.py   linguist-language=Python
*.js   linguist-language=Javascript
*.html linguist-language=Html
*.ajax linguist-language=Javascript
*.css linguist-language=Css
*.flask linguist-language=Python
*.mongodb linguist-language=Mongodb

