*.py   linguist-language=python
*.js   linguist-language=javascript
*.html linguist-language=html
*.ajax linguist-language=javascript
*.css linguist-language=css
*.flask linguist-language=python
*.mongodb linguist-language=mongodb

