<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> -->
    <link rel="stylesheet" href="../static/scss/main.css" />
    <title>Tune Up</title>
    <!-- Mukta - font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome - icons -->
    <script
      src="https://kit.fontawesome.com/79727bd9ce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="homepage_searchbar">

      <div class="search_icon_and_bar">
        <input type="text" placeholder="Search" id="search-input" />
        <i class="fa-solid fa-magnifying-glass" onclick="search()"></i>
      </div>
    </div>
      <div class="homepage" id="home_DraggableDiv">
        <div id="changable">
          <div class="test_div">
          <div class="vl"></div>
          </div>
          <div class="main_column">
          <div class="first_home_row">
            <div class="homepage_name">
              <h1>Home</h1>
            </div>
            
          </div>
          <div class="second_home_row">
            <div class="vertical_slider_box">
              <div class="carousel_gradient_container"></div>
              <div class="slider">
                <div class="slides">
                  <div class="slide">
                    <div class="slider_text">
                      <h2>Upcoming Concert!</h2>
                      <p>
                        Get ready to groove to the beats of your favorite artists  
                        at our upcoming music concert! 🎶 From soulful melodies
                        to foot-tapping rhythms, this concert promises to be a musical 
                        extravaganza.
                      </p>
                    </div>
  
                    <div>
                      <img
                        src="https://i1.sndcdn.com/artworks-000196826838-9zhk1f-t500x500.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="slide">
                    <div class="slider_text">
                      <h2>Upcoming Concert!</h2>
                      <p>
                        Get ready to groove to the beats of your favorite artists  
                        at our upcoming music concert! 🎶 From soulful melodies
                        to foot-tapping rhythms, this concert promises to be a musical 
                        extravaganza.
                      </p>
                    </div>
                    <div>
                      <img
                        src="https://i.scdn.co/image/ab67616d0000b27315145482a542a9adb282250b"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="slide">
                    <div class="slider_text">
                      <h2>Upcoming Concert!</h2>
                      <p>
                        Get ready to groove to the beats of your favorite artists  
                        at our upcoming music concert! 🎶 From soulful melodies
                        to foot-tapping rhythms, this concert promises to be a musical 
                        extravaganza.
                      </p>
                    </div>
                    <div>
                      <img
                        src="https://wallpapercave.com/wp/wp8422295.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="slide">
                    <div class="slider_text">
                      <h2>Upcoming Concert!</h2>
                      <p>
                        Get ready to groove to the beats of your favorite artists  
                        at our upcoming music concert! 🎶 From soulful melodies
                        to foot-tapping rhythms, this concert promises to be a musical 
                        extravaganza.
                      </p>
                    </div>
                    <div>
                      <img
                        src="https://upload.wikimedia.org/wikipedia/en/d/da/Alan_Walker_-_Faded.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="indicators">
                  <span class="indicator" data-slide="1"></span>
                  <span class="indicator" data-slide="2"></span>
                  <span class="indicator" data-slide="3"></span>
                  <span class="indicator" data-slide="4"></span>
                </div>
              </div>
            </div>
            <div class="column_songs_section">
              <div class="top_artist_heading_row">
                <div class="inner_heading_row">
                  <div><h2>Recommended Artist</h2></div>
                </div>
  
                <div>
                  <p><u>See all</u></p>
                </div>
              </div>
              <div class="spacer_y_small"></div>
              {% for musicArtist in recommendedMusic[0:3] %}
              <div class="first_artist_row">
                <div class="artist_name_and_img">
                  <div class="image_box">
                    <img src="{{musicArtist['thumbnails'][0]['url']}}" alt="" />
                  </div>
                  <div class="artist_text_column">
                    <div>
                      <h2>{{musicArtist['artists'][0]['name']}}</h2>
                    </div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_detail_row">
                      <div class="followers_row">
                        <img src="../assets/images/box_heart_icon.png" alt="" />
                        <!-- <p>{{ musicArtist['followers'] }} Followers</p> -->
                        <p>250M Followers</p>
                      </div>
                      <div class="plays_row">
                        <img
                          src="../assets/images/play_vibration_icon.png"
                          alt=""
                        />
                        <!-- <p>{{musicArtist['thumbnails']['views']}} Views</p>  -->
                        <!-- yt music api not working for views value, so taken static data -->
                        <p>111M Views</p> 
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="third_home_row">
            <div class="song_genre_column">
              <div class="genre">
                <h1>For You</h1>
                {%for genre in genre_category['Genres'][0:8]%}
                <div class="category"><p>{{genre}}</p></div>
                {% endfor %}
                <h1>Moods & moments</h1>
                {%for moods in genre_category['Moods & moments'][0:8]%}
                <div class="category"><p>{{moods}}</p></div>
                {% endfor %}
              </div>
            </div>
            <div class="quickPicks_column_section">
              <div class="quickPicks_heading_row">
                <div class="inner_heading_row">
                  <div><h2>Quick Picks</h2></div>
                </div>
  
                <div>
                  <p><u>See all</u></p>
                </div>
              </div>
              <div class="quickPicks_songs_column">
                {% for song in quickPicks %} {% set videoId = song["videoId"] %}
                <div class="first_song_row">
                  <div class="artist_no_name_and_img" onclick="playSong('{{ videoId|escape }}')">
                    <div class="spacer_x_small"></div>
                    <div class="sno_play_pause_icon">
                      {% if loop.index <= 9 %}
                      <h2>0{{loop.index}}</h2>
                      {% else %}
                      <h2>{{loop.index}}</h2>
                      {% endif %}
                    </div>
                    <div class="image_box">
                      <img
                        src="{{song['thumbnails'][song['thumbnails']|length-1]['url']}}"
                        alt=""
                      />
                    </div>
                    <div class="song_text_column">
                      <div><h2>{{song["title"]}}</h2></div>
                      <div class="spacer_y_small"></div>
                      <div class="artist_name_row">
                        <i class="fa-solid fa-user"></i>
                        <p>{{song["artists"][0]["name"]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="three_dot_x_icon">
                    <div class="heart_three_dot_row" >
                      <i id="heart-icon-{{ videoId }}" 
                        class="fa-regular fa-heart" 
                        title="{{ song["title"] }}"
                        artist_name="{{ song["artists"][0]["name"] }}"
                        image_url="{{ song["thumbnails"][-1]["url"] }}" 
                        onclick="updateLikedSongs('{{ videoId|escape }}')"></i>
                      <div class="dropdown">
                        <i class="fa-solid fa-ellipsis"
                          onclick="toggleDropdown(event)"></i>
                          <!-- Add the event listener for the dropdown -->
                          
                        <!-- Dropdown content (options) -->
                        <div class="dropdown-content">
                          <a href="#" onclick="handleAddToQueue('{{ videoId|escape }}')">Add to Queue</a>
                          <a href="#" onclick="playNextSong('{{ videoId|escape }}')">Play Next</a>
                        </div>
                      </div>
                    </div>
             
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="mixed_column_section">
              <div class="mixed_heading">
                <div class="inner_heading_row">
                  <h2>New Releases</h2>
                </div>
              </div>
              <div class="mixed_grid_data">
                {% for releases in newReleases %}
                <div class="first_grid_block">
                  <div class="image_box">
                    <img src="{{releases['thumbnails'][0]['url']}}" alt="" />
                  </div>
                  <div class="text_column">
                    <h2>{{releases['title']}}</h2>
                    <p>{{releases['description']}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          </div>
        </div>
        
      </div>
    

    <div class="backpage">
      <div class="back_main_column">
        <div class="next_composition_block">
          <div class="next_composition_heading">
            <h2>Next Composition</h2>
          </div>
          <div id="current-queue">
            <!-- <div class="first_song_box">
              <img src="https://picsum.photos/id/265/400/600" alt="" />
              <div class="three_dot_x_icon">
                <i class="fa-solid fa-ellipsis"></i>
              </div>
              <div class="inner_text_box">
                <div class="content_row">
                  <div class="song_name_artist_column">
                    <div><h3>The Dark Side</h3></div>
                    <div class="artist_name_row">
                      <i
                        style="color: white; font-size: 0.9rem"
                        class="fa-solid fa-music"
                      ></i>
                      <p>Muse - Simulation Theory</p>
                    </div>
                  </div>
                  <div class="play_button">
                    <i class="fa-solid fa-play"></i>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Upcoming songs will be added here -->
          </div>

        </div>
        <div class="current_music_block">
          <audio id="song" class="audio-link" autoplay src="">
            <source id="song_link" type="audio/mp3">
          </audio>
          <div class="music_play_column">
            <div class="img_box">
              <img id="song-image" src="" alt="">
            </div>
            <div><h2 id="song-name">Blinding Lights</h2></div>
            <div><p id="song-artist">Weekend</p></div>
            <div class="play_pause_loop_row">
              <div id="song-repeat-on-loop">
                <i class="fa-solid fa-repeat" onclick="handleSongOnLoop()"></i>
              </div>
              <div id="like-current-song" >
                <i class="fa-solid fa-heart" onclick="handleLikedSong(event)"></i>
              </div>
              <div class="mid_play_pause_row">
                <div>
                  <i class="fa-solid fa-backward-step" onclick="playPreviousSong()"></i>
                </div>
                <div class="play"><i onclick="playPause(event)" class="fa-solid fa-play" id="playButton"></i></div>
                <div>
                  <i class="fa-solid fa-forward-step" onclick="playNextSong()"></i>
                </div>
              </div>
              <div id="shuffle-songs-icon">
                <i class="fa-solid fa-shuffle" onclick="handleShuffleSongs()"></i>
              </div>
            </div>
            <div class="song_progress_bar_box">
              <p class="current-time">0:00</p>
              <input type="range" value="0" id="music_progress_bar" />
              <p class="ending-time">0:00</p>
            </div>
          </div>
          <div class="lyrics_column"></div>
        </div>
      </div>
    </div>
    <div class="fixed_side_navbar">
      <div class="logo_box">
        <img src="../static/assets/images/tuneUp_logo.png" alt="" />
      </div>
      <div class="navbar_sub_column">
        <i
          class="fa-solid fa-house"
          onclick="changePageWithComponent('','changable', setInitialLikeIcons )"
        ></i>
        <i class="fa-solid fa-music" onclick="changePage('music', sendLikedSongsToServer)"></i>
        <i class="fa-regular fa-folder"></i>
        <i class="fa-regular fa-user"></i>
        <hr />
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-folder-closed"></i>
      </div>
      <div>
        <i class="fa-solid fa-gear"></i>
      </div>
    </div>
  </body>


  <script src="../static/javascript/draggableDiv.js"></script>
  <script src="../static/javascript/musicPlayer.js"></script>
  <script src="../static/javascript/fetchSongsWorker.js"></script>
  <script src="../static/javascript/changePage.js"></script>
  <script src="../static/javascript/verticalCarouselSlider.js"></script>
  <script src="../static/javascript/searchSong.js"></script>
  <script src="../static/javascript/updateLikedSongs.js"></script>
  <script src="../static/javascript/setInitialLikeIcon.js"></script>
  <script src="../static/javascript/sendLikedSongsToServer.js"></script>
</html>
