<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/scss/music.css" />

    <!-- fontawesome - icons -->
    <script
      src="https://kit.fontawesome.com/79727bd9ce.js"
      crossorigin="anonymous"
    ></script>

    <title>Music Page</title>
  </head>
  <body>
    <div class="musicpage">
      <div class="test_div">
        <div class="vl"></div>
      </div>

      <div class="music_main_row">
        <div class="covering_container"></div>

        <div class="music_first_column">
          <div class="first_music_row">
            <h1>Library</h1>
          </div>
          <div class="second_music_row">
            <div class="image_column">
              <div class="image_title">
                <h2>Liked Songs</h2>
              </div>
              <div class="image_box">
                <img
                  src="https://images.unsplash.com/photo-1504680177321-2e6a879aac86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
                  alt="Liked_Songs"
                />
              </div>
            </div>
            <div class="songs_column">
              <div class="see_more_row">
                <p><u>See all</u></p>
              </div>

              <div class="liked_song_container">
                {% for song in liked_songs %}
                <!-- Song Container -->
                <div class="song_container">
                  <!-- First Song Row -->
                  <div class="first_song_row">
                    <div class="clickable_row">
                      <div class="artist_no_name_and_img">
                        <div class="sno_play_pause_icon">
                          {% if loop.index <= 9 %}
                          <h2>0{{loop.index}}</h2>
                          {% else %}
                          <h2>{{loop.index}}</h2>
                          {% endif %}
                        </div>
                        <div class="spacer_x_small"></div>
                        <div class="song_thumbnail">
                          <img
                            src="{{ song.thumbnail }}"
                            alt="Song Thumbnail"
                          />
                        </div>
                        <div class="spacer_x_small"></div>

                        <div class="song_text_column">
                          <div><h2>{{ song.title }}</h2></div>
                          <div class="spacer_y_small"></div>
                          <div class="artist_name_row">
                            <i class="fa-solid fa-user"></i>
                            <p>{{ song.artist }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="space_x_medium"></div>
                      <div class="three_dot_x_icon">
                        <p> Plays: N/A</p>
                        <p>Duration: N/A</p>
                        <i class="fa-solid fa-ellipsis"></i>
                      </div>
                    </div>
                  </div>
                  <!-- End of First Song Row -->
                </div>
                <!-- End of Song Container -->
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="third_music_row">
            <div class="heading_playlist">
              <h2>Playlists</h2>
            </div>
            <div class="playlist_grid_blocks">
              <div class="playlist_block">
                <div class="playlist_image">
                  <img
                    src="https://picsum.photos/id/1015/300/180"
                    alt="Playlist 1"
                  />
                </div>
                <div class="playlist_details">
                  <h3>Relaxing Melodies</h3>
                  <p>Created by: John Doe</p>
                </div>
              </div>
              <div class="playlist_block">
                <div class="playlist_image">
                  <img
                    src="https://picsum.photos/id/1016/300/180"
                    alt="Playlist 2"
                  />
                </div>
                <div class="playlist_details">
                  <h3>Chill Vibes</h3>
                  <p>Created by: Jane Smith</p>
                </div>
              </div>
              <div class="playlist_block">
                <div class="playlist_image">
                  <img
                    src="https://picsum.photos/id/1019/300/180"
                    alt="Playlist 2"
                  />
                </div>
                <div class="playlist_details">
                  <h3>Dizzy Morning</h3>
                  <p>Created by: Weekend</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="music_second_column">
          <div class="musicpage_searchbar">
            <div class="notification_icon">
              <div class="spacer_x_small"></div>
              <i class="fa-regular fa-bell"></i>
            </div>

            <div class="search_icon_and_bar">
              <input type="text" placeholder="Search" id="search-input" />
              <i class="fa-solid fa-magnifying-glass" onclick="search()"></i>
            </div>
          </div>
          <div class="artists_container">
            <h2>Saved Artists</h2>
            <div class="elevated_card">
              <div class="artist_list">
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/1916824/pexels-photo-1916824.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="John Smith"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>John Smith</h3>
                    <p>Genre: Pop</p>
                    <p>Famous for: Beautiful Day</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/2479312/pexels-photo-2479312.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="Jane Doe"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>Jane Doe</h3>
                    <p>Genre: Rock</p>
                    <p>Famous for: Sweet Child o' Mine</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/920992/pexels-photo-920992.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="Mike Johnson"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>Mike Johnson</h3>
                    <p>Genre: Hip Hop</p>
                    <p>Famous for: Lose Yourself</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/920992/pexels-photo-920992.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="Emily Williams"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>Emily Williams</h3>
                    <p>Genre: R&B</p>
                    <p>Famous for: Love on Top</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/920992/pexels-photo-920992.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="David Lee"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>David Lee</h3>
                    <p>Genre: Country</p>
                    <p>Famous for: Tennessee Whiskey</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/920992/pexels-photo-920992.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="Sarah Brown"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>Sarah Brown</h3>
                    <p>Genre: Jazz</p>
                    <p>Famous for: Fly Me to the Moon</p>
                  </div>
                </div>
                <div class="artist_item">
                  <div class="artist_image">
                    <img
                      src="https://images.pexels.com/photos/920992/pexels-photo-920992.jpeg?auto=compress&cs=tinysrgb&w=800"
                      alt="Alex Turner"
                    />
                  </div>
                  <div class="artist_details">
                    <h3>Alex Turner</h3>
                    <p>Genre: Indie Rock</p>
                    <p>Famous for: Do I Wanna Know?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../static/javascript/searchSong.js"></script>
  <script src="../static/javascript/sendLikedSongsToServer.js"></script>
</html>
