<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/scss/music.css" />

    <!-- fontawesome - icons -->
    <script
      src="https://kit.fontawesome.com/79727bd9ce.js"
      crossorigin="anonymous"
    ></script>

    <title>Music Page</title>
  </head>
  <body>
    <div class="musicpage">
      <div class="test_div">
        <div class="vl"></div>
     </div>
      <div class="music_main_row">
        <div class="covering_container"></div>
        <div class="music_first_column">
          <div class="first_music_row">
            <h1>Library</h1>
          </div>
          <div class="second_music_row">
            <div class="image_column">
              <div class="image_title">
                <h2>Releases for You</h2>
              </div>
              <div class="image_box">
                <img src="https://picsum.photos/id/277/200/300" alt="" />
              </div>
            </div>
            <div class="songs_column">
              <div class="see_more_row">
                <p> <u>See all</u></p>
              </div>
              <div class="first_song_row">
                <div class="artist_no_name_and_img">
                  <div class="spacer_x_small"></div>
                  <div class="sno_play_pause_icon">
                    <h2>01</h2>
                  </div>

                  <div class="song_text_column">
                    <div><h2>Sleep 4Ever</h2></div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_name_row">
                      <i class="fa-solid fa-user"></i>
                      <p>MAGGIE ANDREW, blackbear</p>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <p>3,516,168 Plays</p>
                  <p>2:42</p>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
              <div class="first_song_row">
                <div class="artist_no_name_and_img">
                  <div class="spacer_x_small"></div>
                  <div class="sno_play_pause_icon">
                    <h2>01</h2>
                  </div>

                  <div class="song_text_column">
                    <div><h2>Sleep 4Ever</h2></div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_name_row">
                      <i class="fa-solid fa-user"></i>
                      <p>MAGGIE ANDREW, blackbear</p>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <p>3,516,168 Plays</p>
                  <p>2:42</p>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
              <div class="first_song_row">
                <div class="artist_no_name_and_img">
                  <div class="spacer_x_small"></div>
                  <div class="sno_play_pause_icon">
                    <h2>01</h2>
                  </div>

                  <div class="song_text_column">
                    <div><h2>Sleep 4Ever</h2></div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_name_row">
                      <i class="fa-solid fa-user"></i>
                      <p>MAGGIE ANDREW, blackbear</p>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <p>3,516,168 Plays</p>
                  <p>2:42</p>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
              <div class="first_song_row">
                <div class="artist_no_name_and_img">
                  <div class="spacer_x_small"></div>
                  <div class="sno_play_pause_icon">
                    <h2>01</h2>
                  </div>

                  <div class="song_text_column">
                    <div><h2>Sleep 4Ever</h2></div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_name_row">
                      <i class="fa-solid fa-user"></i>
                      <p>MAGGIE ANDREW, blackbear</p>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <p>3,516,168 Plays</p>
                  <p>2:42</p>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
              <div class="first_song_row">
                <div class="artist_no_name_and_img">
                  <div class="spacer_x_small"></div>
                  <div class="sno_play_pause_icon">
                    <h2>01</h2>
                  </div>

                  <div class="song_text_column">
                    <div><h2>Sleep 4Ever</h2></div>
                    <div class="spacer_y_small"></div>
                    <div class="artist_name_row">
                      <i class="fa-solid fa-user"></i>
                      <p>MAGGIE ANDREW, blackbear</p>
                    </div>
                  </div>
                </div>
                <div class="three_dot_x_icon">
                  <p>3,516,168 Plays</p>
                  <p>2:42</p>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="third_music_row"></div>
        </div>
        <div class="music_second_column"></div>
      </div>
    </div>
  </body>

</html>
